body {
    background-color: #dedede;
  }

.fw-normal{
    font-family: Roboto, Sans-serif
}
.inicio{
    color: #2b5784;
}
.login-container {
    width: 70%; /* Establece el ancho al 100% de la ventana */
    height: 100vh; /* Establece la altura al 100% de la ventana */
    overflow: hidden; /* Evita el desplazamiento horizontal y vertical */
  
    margin-left: 15%;
  }
  .titulo {
    display: flex;
    justify-content: space-between; /* Alinear los elementos al extremo de la palabra */
    color:#2b5784;
    margin-left: 130%;
  }
  .cerrar {
    margin-left: 100px; /* Ajustar los márgenes según sea necesario */
  }
  .registrarse{
    background-color:#2b5784;
    width:250px;
    align-items: center;
    margin-left: 20%;
  }