#titulo h1{
  display:flex;
  align-items:center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
}

#subtitulo h2{
  display:flex;
  align-items:center;
  justify-content: center;
  text-decoration:none;
  font-size: 1rem;
  color: #000000;
  font-weight: 800;
}

#subtitulo i{
  color: #F6A800;
  font-size:50px;
  margin: 0.5rem;
  padding-left: 35px;
}

/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.criterio-button{
  margin: 10px;
  font-size: 0.9rem;
  padding: 0.7rem;
  width: 420px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Estilos para los campos de entrada */
.score-input{
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 7%;
  font-size: 1rem;
  text-align: center;
  width: 30px;
}


/* Estilos para los contenedores de criterios */
.criterio-box {
  display: flex; /* Utiliza flexbox para alinear los elementos en una fila */
  align-items: center; /* Alinea verticalmente los elementos */
  justify-content: center; /* Alinea horizontalmente los elementos */
}

/* Estilos para los botones */
.delete-button{
  border: none;
  margin: 5px;
  width: auto; /* Ancho automático para que se ajuste al contenido */
  text-align: center;
  overflow: hidden;
  -webkit-line-clamp: 2; /* Máximo de 2 líneas */
  -webkit-box-orient: vertical;
  font-size: 1.3em; /* Tamaño de fuente del botón */
  display: flex; /* Usa flexbox para alinear el ícono y el texto */
  align-items: center; /* Alinea el texto en el centro verticalmente */
  cursor: pointer; /* Cambia el cursor a pointer al pasar por encima */
  background: transparent;
  color: rgb(46, 38, 168);
}

/* Cambia el color de fondo al pasar por encima */
.delete-button:hover {
  background-color: #c8d7f5;
}

.add-crit{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
}

.forward-button,
.backward-button {
  align-content: center;
  cursor: pointer;
  background: transparent;
  font-weight: bold;
  font-size: 2rem;
  border: none;
  color: rgb(46, 38, 168);
}

.add-button{
  display: flex;
  cursor: pointer;
  color: rgb(46, 38, 168);
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

/* Estilos CSS para el modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0 15rem;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}

.modal button:hover {
  background-color: #0056b3;
}

.tex{
    width: 100%;
    padding: 10px;
    border: 1px solid #CACED0; /* Borde sólido con color especificado */
    border-radius: 10px;
    color: #4e5052; /* Color del texto */
    font-size: 16px; /* Tamaño de la fuente */
}

.add{
  color: white;
  background-color: rgb(46, 38, 168);
  padding: 10px;
}

.close-button{
  display: flex;
  border: none;
  background-color: transparent;
  color: rgb(46, 38, 168);
  font-size: 1.5rem;
}

