/* Estilos para el contenedor principal */
.verAspirante-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para el título */
.verAspirante-container h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 1.5em;
  color: rgb(194, 128, 136);
}

/* Estilos para los filtros */
.filtros {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filtro-general {
  display: flex;
  gap: 10px; /* Espacio entre el select y el input */
  align-items: center;
}

/* Estilos para el select (dropdown) */
.filtro-general select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.filtro-general select:focus {
  border-color: #f6a800; /* Color del borde al enfocarse */
}

/* Estilos para el input */
.filtro-general input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 250px; /* Ancho fijo para el input */
}

.filtro-general input:focus {
  border-color: #f6a800; /* Color del borde al enfocarse */
}

/* Adaptación para dispositivos más pequeños */
@media (max-width: 768px) {
  .filtros {
    flex-direction: column;
    align-items: center;
  }

  .filtro-general {
    flex-direction: column;
    gap: 15px;
  }

  .filtro-general select,
  .filtro-general input {
    width: 100%; /* Ancho completo en dispositivos más pequeños */
  }
}

.card-header {
  text-align: center;
  font-size: 24px;
  margin: 10px;
}
