/* navbar.css */
nav {
    background-color: #2b5784;
    padding: 10px;
}
  
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logos-container {
    display: flex; /* Hace que los elementos se alineen en una sola línea */
    align-items: flex-end;
    padding-left: 300px; /* Centra verticalmente los elementos en el contenedor */
}
  
  /* Estilos para los iconos */
.icon {
    font-size: 40px; /* Ajusta el tamaño del icono */
    color: white; /* Color blanco para los iconos */
    margin-left: 80px; 
    
}

.rounded{
    height: 45px;
    padding-right: 600px;
    padding-left: 1px;
}