
body { /*z*/
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container { /*z*/
  width: 170vh;
  display: flex;
  overflow: hidden;
}

.left-half { /*z*/
  flex: 1;
  background-color: #2b5784;
  background-image: linear-gradient(to bottom right, transparent 50%, white 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  
}

.input-field { /* tex user pass */ /*z*/
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 15px;
  max-width: 350px; /*Tamaño de agregar name pass */
  border: 1px solid #ebebeb;
  border-radius: 15px;
  
}

.button { /*z*/
  background-color: #2b5784;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  letter-spacing: 1px;
  
  
}

.title{ /*z*/
  color: #f5a800;
  font-size: 50px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.logo { /*z*/
  width: 100%;
  max-width: 500px;
  max-height: 500px;

}

main { /*z*/
  display:flex;
  background-color: #f5a800;
  color: #000;
  font-family: 'Arial';
  padding: 100px;
  margin: 100px;
  border-radius: 15px;
  flex-direction: column;
}


.forgot-password-button { /*z*/
  margin-top: 10px;
  background-color: transparent;
  color: #2b5784;
  border: none;
  font-size: 15px;
  height: 1vh;
  text-align: center;
  cursor: pointer;  
}

.right-half {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  display:block;
  align-items: center;
  justify-content: space-between;
  background: #2B5983;
  padding: 1px;
  height: 2.8cm;
  
}
#navbar{
  display: flex;
  align-items:center;
  justify-content: right;
}

#navbar li{
  list-style: none;
  padding: 14px;
  position:sticky;
  align-content: center;

}

#navbar li a{
  text-decoration:solid;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  padding-left:6px;

}

#titulo h1{
  display:flex;
  align-items:center;
  justify-content: center;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
}

#subtitulo h1{
  display:flex;
  align-items:center;
  justify-content: center;
  text-decoration:none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  font-family:cursive;
}

#subtitulo i{
  color: #F6A800;
  font-size:40px; 
  padding-left: 80px;
}

.logo2 {
  width: 18%;
  padding-right:21.5cm; 
  max-width: 300px;
  padding-bottom: 1px;
}

.Crit1 {
  margin-bottom: 50px;
  padding: 6px;
  width: 600px;
  max-width: 500px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-style:outset;
  font-size: medium;
  margin-left: 7cm;
}
.Crit2 {
  margin-bottom: 50px;
  padding: 6px;
  width: 600px;
  max-width: 500px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-style:outset;
  font-size: medium;
  margin-left: 7cm
}
.Crit3 {
  margin-bottom: 50px;
  padding: 6px;
  width: 600px;
  max-width: 500px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-style:outset;
  font-size: medium;
  margin-left: 7cm;
}
.Crit4 {
  margin-bottom: 50px;
  padding: 6px;
  width: 600px;
  max-width: 500px;
  border: 1px solid #FFFFFF;
  border-radius: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align:center;
  border-style:outset;
  font-size:medium;
  margin-left: 7cm;
}

#Delete i{
  color: #2B5983;
  padding-left: 13.5cm;
  font-size:x-large 
}

#Crit i{
  color: #F6A800;
  font-size:50px; 
  padding-left: 5px; 
  padding-right: 0.5cm;
}

.PorC1 {
  font-size: 20px;
  padding: 6px;
  width: 50px;
  max-width: 500px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  border-style:outset;
  margin-left: 5.5cm
}

#add {
  color: #2B5983;
  font-size:50px; 
  padding-left: 23cm; 
  padding-top: 0px;
  padding-bottom: 1cm;
}

#next {
  color: #2B5983;
  font-size:50px; 
  padding-left: 23cm; 
  padding-top: 0px;
  padding-bottom: 1cm;
}

.Img{
  height: 1.5cm;
  border-radius: 30px;
  padding-right: 5px;
}